
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/


// Light theme:

$market-primary: mat-palette($mat-blue);
$market-accent: mat-palette($mat-light-green, A200, A100, A400);

$market-warn: mat-palette($mat-red);

$market-theme: mat-light-theme((
  color: (
    primary: $market-primary,
    accent: $market-accent,
    warn: $market-warn,
  )
));


@include angular-material-theme($market-theme);

// Dark theme:

$market-primary-dark: mat-palette($mat-deep-purple);
$market-accent-dark: mat-palette($mat-cyan, A200, A100, A400);

$market-warn-dark: mat-palette($mat-grey);

$market-theme-dark: mat-dark-theme((
  color: (
    primary: $market-primary-dark,
    accent: $market-accent-dark,
    warn: $market-warn-dark,
  )
));

.dark-theme{
  @include angular-material-theme($market-theme-dark)
}


@include angular-material-theme($market-theme);

